:root{
    font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
}


body{
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
    "nav header"
    "nav main-part";
}

.nav{
    grid-area: nav;
}

.header{
    grid-area: header;
}

.main-part{
    grid-area: main-part;
}
