:root{
    font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
}


body{
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
    "nav header"
    "nav main-part";
}

.nav{
    grid-area: nav;
    border: 2px blue solid;
}

.header{
    grid-area: header;
    border: 2px green solid;
}

.main-part{
    grid-area: main-part;
    border: red 2px solid;
}
