@font-face {
    font-family: "roboto";
    src: url(fonts/roboto.woff2);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "quicksand";
    src: url(fonts/quicksand.woff2);
    font-weight: normal;
    font-style: normal;
}

:root{
    font-size: 16px;
    font-family: "quicksand", "roboto", sans-serif;

    --primary-color: #2c4863;
    --primary-color-hover: #415a73;
    --primary-color-focus: #1a2b3b;

    --secondary-color: #FFFFFF;

    --ascent-color: #f28482 ;
    --ascent-color-hover: #f7b5b4;
    --ascent-color-focus: #914f4e;

    --white: #FFFFFF;
    --black: #0f0f0f;

    --soft-light-grey: #f8f8f8;
    --hard-grey: #bbbbbb;

}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}


body, html{
    height: 100%;
    width: 100%;
}

.container{
    width: 100vw;
    height: 100%;
    min-height: 100%;

    display: grid;
    grid-template-columns: 0.3fr 1.7fr;
    grid-template-rows: 0.3fr 1.7fr;
    grid-template-areas: 
    "nav header"
    "nav main-part";
}

::-webkit-scrollbar{
    width: 8px;
}

:hover::-webkit-scrollbar-thumb{
    background-color: var(--hard-grey);
    border-radius: 8px;
}
 
.nav{
    grid-area: nav;
    z-index: 2;
    
    background-color: var(--primary-color);
    color: var(--secondary-color);

    display: grid;
    grid-template-rows: 0.3fr 1.7fr 1.5fr;
    padding: 20px 40px;
    row-gap: 50px;
}

.nav svg{
    height: 35px;
    fill: var(--secondary-color);
}


.title svg{
    height: 50px;
    fill: var(--secondary-color);
    
}

.title h3 {
    font-size: 2rem;
}


ul > li {
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: 40px auto;
    column-gap: 25px;
    margin-bottom: 20px;
    align-items: center;
    padding: 5px 16px;
}

li:hover{
    background-color: var(--primary-color-hover);
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 2px 3px 6px rgb(46, 46, 46);
    column-gap: 35px;
    transition: 0.35s;
    
}



.title{
    display: grid;
    grid-template-columns: 40px auto;
    column-gap: 25px;
    align-items: center;
    align-content: center;
}


.user{
    grid-template-rows: repeat(7, 1fr);
    row-gap: 20px;
}

.help{
    grid-template-rows: repeat(3, 1fr);
    row-gap: 20px;
}



.header{
    grid-area: header;

    z-index: 1;
    box-shadow: rgb(206, 206, 206) 0px 5px 5px;

    padding: 15px 50px;

    display: grid;
    grid-template-rows: 0.7fr 1.3fr;
    row-gap: 5px;

    align-items: center;
}

.header svg {
    height: 35px;
}

.header svg:hover{
    cursor: pointer;
    fill: rgb(116, 116, 116);
}


.header > div:first-child {
    display: grid;
    grid-template-columns: 50px 1fr 100px 100px 140px;
    column-gap: 5px;
    justify-items: center;
}

.header > div:last-child > img {
    justify-self: center;
}

input{
    width: 100%;
    height: 25px;
    border-radius: 20px;
    border: #dbdbdb 1px solid;
    justify-self: baseline;
    padding-left: 10px;
    font-family: "roboto", "quicksand", sans-serif ;
}


.header > div:last-child{
    display: grid;
    grid-template-columns: 100px 4fr 1fr 1fr 1fr;
}

.header > div:first-child img + p {
    font-size: 1.6rem;
}

button{
    height: 40px;
    width: 130px;
    border-radius: 25px;
    justify-self: end;


    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;

    font-size: 1rem;
    font-weight: 600;
}

button:hover{
    background-color: var(--primary-color-hover);
    cursor: pointer;
}

button:active{
    background-color: var(--primary-color-focus);
}

.header > div:last-child > p{
    justify-self: center;
}

.header-main-text > p:last-child{
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 6px;
}


.header > div:first-child, .header > div:last-child{
    align-items: center;
}

.main-part{
    grid-area: main-part;
    
    background-color: var(--soft-light-grey);

    padding: 30px;

    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    grid-template-rows: 30px 1fr;
    gap: 15px;
    grid-template-areas: 
    "title-project title-announce"
    "cards announce-trend";

    overflow-y: hidden;
}

.project-title{
    grid-area: title-project;
}

.announce-title{
    grid-area: title-announce;
}

.main-part > div:first-child{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    
    padding: 20px 0;
    gap: 15px;
    grid-area: cards;

    overflow-y: scroll;
}



.card{
    position: relative;

    background-color: var(--secondary-color);
    box-shadow: rgb(221, 221, 221) 2px 5px 5px;

    border-radius: 12px;

    display: grid;
    grid-template-columns: 8px 1fr;

    height: 200px;
    width: 95%;
}

.card > div:first-child{
    background-color: var(--ascent-color);
    border-radius: 12px 0 0 12px;
}

.card > div:last-child{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 6px;

    padding: 10px 20px;
}



.card > div:last-child > div{
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    align-items: flex-end;

    grid-row: 3 / 4;
}

.card > div:last-child > p:first-child{
    align-self: self-end;
}

.card svg{
    z-index: 2;
    height: 35px;
    fill: var(--ascent-color);
}

.card svg:hover{
    fill: var(--ascent-color-hover);
    cursor: pointer;
}

.card svg:active{
    fill: var(--ascent-color-focus);
}

.main-part > div:last-child{
    display: grid;
    grid-template-rows: 1fr 30px 1fr;
    row-gap: 15px;

    padding: 20px 0;

    overflow: hidden;
}

h4{
    align-self: self-end;
    font-size: 1.2rem;
}



.announce, .trendings{
    display: grid;

    padding: 15px;
    overflow-y: scroll;
    row-gap: 10px;

    background-color: var(--white);
    border-radius: 8px;
    box-shadow: rgb(218, 218, 218) 2px 5px 5px;
}



.announce > div{
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 15px;
}

.announce > div:hover, .trendings > div:hover{
    box-shadow: rgb(190, 190, 190) 2px 3px 5px;
    border-radius: 6px;
}

.announce > div >p:first-child{
    font-size: 0.9rem;
}

.announce > div > p:last-child{
    font-size: 0.8rem;
}

.trendings > div{
    position: relative;
    padding: 10px;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 5fr;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    row-gap: 5px;
}

.trendings > div > img{
    grid-row: 1 / 3;
    grid-column: 1 / 3;
    justify-self: center;
}

.trendings > div > p:nth-child(3){
    align-self: end;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.trendings > div > p:last-child{
    align-self: baseline;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.trendings span,
.card span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 1;

}

img[src$=".png"]{
    border-radius: 50px;
    border: black 1px solid;
}
